// Fonts
$primary-font : 'Montserrat';
$secondary-font: 'Nunito Sans';
$accent-font: 'Kalam';

// Colours
$dark-blue: #265961;
$green-blue: #227066;
$ot-green: #76a665;
$ot-yellow: #ffdd5b;
$ot-beige: #fbfae1;

// Viewport min/max
$min-width: 300;
$max-width: 1600;