header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: fixed;
  background-color: $dark-blue;
  top: 0;
  z-index: 10;
  width: 100vw;
  padding-top: 5px;
  height: 80px;

  .brand {
    img {
      width: 125px;
      padding: 5px 25px;
    }
  }

  nav {
    margin-left: auto;
    
    .nav-items {
      margin-right: 15px;

      li {
        display: inline-block;
        margin: 0 1vw;

        &.divide {
          color: white;
        }
      }
    }

    a {
      text-decoration: none;
      color: white;
      padding: 0 5px;

      &:hover {
        color: $ot-yellow;
      }
    }
  }
}

.menu {
  margin-left: auto;
  display: none;
  margin-top: -5px;

  #nav-toggler {
    color: white;
    padding: 0 15px;
  }
}

//Media Queries
@media screen and (max-width: 800px) {
  header nav {
      display: none;
  }

  .menu {
      display: block;
  }

  

}